<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SD4006SFileGenerator.Properties.Settings.T200EXTRACTSConnectionString"
            connectionString="Data Source=sql-host;Initial Catalog=T200EXTRACTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SD4006SFileGenerator.Properties.Settings.T200EXTRACTSConnectionString1"
            connectionString="Data Source=sql-host;Initial Catalog=T200EXTRACTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>