<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTCBAStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <CTCBAStorage.Properties.Settings>
      <setting name="CTCBAStorageConnectionString" serializeAs="String">
        <value>Data Source=sql-host;Initial Catalog=CTCBAStorageDev;Integrated Security=True;MultipleActiveResultSets=True;</value>
      </setting>
      <setting name="PruneOperationConnectionTimeoutSeconds" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="ProductionStorageDatabase" serializeAs="String">
        <value>Data Source=sql-host;Initial Catalog=CTCBAStorage;Integrated Security=True;Connection Timeout=240;MultipleActiveResultSets=True;</value>
      </setting>
    </CTCBAStorage.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>